<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	  <link href="assets/css/mdbootstrap_css/bootstrap.css" rel="stylesheet" type="text/css">
		<title>Node Mongo & Cheerio Web Scraper</title>
		<script src="https://code.jquery.com/jquery.js"></script>

	</head>
	<body>
		{{{ body }}}

    <script type="text/javascript" src="assets/js/mdbootstrap/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="assets/js/mdbootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/mdbootstrap/mdb.min.js"></script>
    <script>
       new WOW().init();

       function initialize() {
           var options = {
               types: ['(cities)'],
               componentRestrictions: { country: "us" }
           };
           var input = document.getElementById('orangeForm-city');
           var autocomplete = new google.maps.places.Autocomplete(input, options);
       }

   </script>

	</body>
</html>
