<header>
  {{> _navbar}}
</header>

<section>




<div class="card wider mt-5 pt-5 pb-5 .z-depth-3">

    <!--Card image-->
    <div class="view overlay text-center stylish-color">
        <img src="{{article.link}}" class="mx-auto d-block img-fluid pt-5" style="width: 60%">



    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>{{article.id}}</strong></h4>

        <p class="card-text">{{article.link}}</p>

        <!--Linkedin-->
        <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
        <!--Dribbble-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

    </div>
</div>

</section>
