<header>
  {{> _navbar}}

    <!-- Intro Section -->
      <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://images.pexels.com/photos/265728/pexels-photo-265728.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
        <div class="full-bg-img">
          <div class="mask rgba-black-light">
            <div class="container flex-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Wedding Scraper </strong></h1>
                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="text-uppercase mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>A full stack web scrape built with NodeJS, Express, MongoDB, Cheerio, and Axios</strong></h5>
                            <p class="white-text wow fadeInDown">Context: As I was looking in to building a web-scraping app, my fiance was sitting next to me browsing dresses. I figured I'd take the opportunity to build something she could use to store her favorites.</p>
                            <div class="md-form form-lg">
                              <button class="btn purple-gradient btn-lg" id="searchSubmit">View Dresses</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

</header>
<main>
<div class="container">

    <!--Section: Blog v.3-->
    <section class="section extra-margins pb-3 text-center text-lg-left wow fadeIn" data-wow-delay="0.3s">

      <!--Section heading-->
      <h2 class="section-heading h1 pt-5">Browse Dresses</h2>
      <!--Section description-->
      <p class="section-description mb-5 pb-3">Click > to save for later!</p>

    </section>
    <section>
      <div class="container">
        <div class= "row">
          <div class= "card-columns" id ='articles'>



          </div>
        </div>
      </div>
    </section>
</main>

 
