<header>
  {{> _navbar}}
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
    <!-- Intro Section -->
      <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg);">
        <div class="full-bg-img">
          <div class="mask rgba-black-light">
            <div class="container flex-center">
                <div class="row pt-5 mt-3">
                    <div class="col-lg-12">
                      <div class="card wow fadeIn" data-wow-delay="0.3s">
                          <div class="card-body">

                              <!--Header-->

                              <!--Body-->
                            <form method="post" action="/users/register">
                              <div class="md-form">
                                  <i class="fa fa-user prefix white-text"></i>
                                  <input type="text" id="signupFrom-name" class="form-control" name="name">
                                  <label for="signup-name">Your name</label>
                              </div>
                              <div class="md-form">
                                  <i class="fa fa-lock prefix white-text"></i>
                                  <input type="password" id="signupForm-pass" class="form-control" placeholder="Username" name="username">
                                  <label for="signup-pass">Username</label>
                              </div>
                              <div class="md-form">
                                  <i class="fa fa-envelope prefix white-text"></i>
                                  <input type="text" id="signupForm-email" class="form-control" name="email">
                                  <label for="signup-email">Your email</label>
                              </div>

                              <div class="md-form">
                                  <i class="fa fa-lock prefix white-text"></i>
                                  <input type="password" id="signupForm-pass" class="form-control" placeholder="Password" name="password">
                                  <label for="signup-pass">Your password</label>
                              </div>
                              <div class="form-group">
                                <i class="fa fa-lock prefix white-text"></i>
                                <input type="password" id="signupForm-pass" class="form-control" placeholder="Password" name="password2">
                                <label for="signup-pass">Your password</label>
                              </div>
                              <div class="text-center">
                                  <button type="submit" class="btn indigo-gradient btn-lg">Sign up</button>
                                  <hr>
                                  <div class="inline-ul text-center d-flex justify-content-center">
                                      <a class="p-2 m-2 fa-lg tw-ic"><i class="fa fa-twitter white-text"></i></a>
                                      <a class="p-2 m-2 fa-lg li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                                      <a class="p-2 m-2 fa-lg ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                                  </div>
                              </div>

                          </div>
                      </div>
                    </form>
                      <!--/Form with header-->


                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

</header>


        {{!-- <div class="container">
              <!--Section: Tabs-->
              <section>
                  <!-- Tab panels -->
                  <div class="tab-content row">
                      {{#each savedSearch}} {{> savedsearches}} {{/each}}
                  </div>
              </section>
              <!--Section: Tabs-->
          </div> --}}
                <!--Grid row-->
